### **Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

### **Exercise 3: Create markdown cell for an introduction**

#### Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientist use.
* List commonly used libraries used by Data Sciemtists.
* Table of Data Science Tools.

### **Exercise 4: Create a markdown cell to list data science languages**

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### **Exercise 5: Create a markdown cell to list data science libraries**

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. TensorFlow
5. Matplotlib
6. Scikit-learn

### **Exercise 6: Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
|--------------------|
| Apache Spark |
| SAS |
| BigML |

### **Exercise 7: Create a markdown cell introducing arithmetic expression examples**

### Below are a few of evaluating arithmetic expressions in Python

In [7]:
# arithmetic operations 
code = compile("1 + 7", "<string>", "eval")
eval(code)
# result: 8

8

In [9]:
codee = compile("(2 + 8) * 2", "<string>", "eval")
eval(codee)
#result: 20

20

### **Exercise 8: Create a code cell to multiply and add numbers**

#### This a simple arithmetic expression to multiply then add integers

In [11]:
(3*4)+5
#returns: 17

17

### **Exercise 9: Create a code cell to convert minutes to hours**

#### This will convert 200 minutes to hours by diving by 60

In [14]:
hours = 0
minutes = 200

#hours = (minutes) / 60
hours = minutes / 60

print(str(hours) + "hours")

3.3333333333333335hours

### **Exercise 10: Insert a markdown cell to list Objectives**

#### Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this cell start with an introductory line titled: Objectives: in bold font.

### **Exercise 11: Create a markdown cell to indicate the Author's name**

## Author:
Mónica Fernández